@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Eczar%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-z0TCnW84PKW: rgba(11, 166, 245, 0.77);
  --plasmic-token-brand: var(--token-z0TCnW84PKW);
}

.plasmic_default_styles {
  --mixin-t1Sy0hiqMkH_font-family: "IBM Plex Sans";
  --mixin-t1Sy0hiqMkH_font-size: 14px;
  --mixin-t1Sy0hiqMkH_font-weight: normal;
  --mixin-t1Sy0hiqMkH_font-style: normal;
  --mixin-t1Sy0hiqMkH_color: rgb(222, 245, 239);
  --mixin-t1Sy0hiqMkH_text-align: left;
  --mixin-t1Sy0hiqMkH_text-transform: none;
  --mixin-t1Sy0hiqMkH_line-height: 1.5;
  --mixin-t1Sy0hiqMkH_letter-spacing: normal;
  --mixin-t1Sy0hiqMkH_white-space: pre-wrap;
  --mixin-t1Sy0hiqMkH_user-select: text;
  --mixin-w3xWtGxND_font-family: "Inter";
  --mixin-w3xWtGxND_color: #000000;
  --mixin-w3xWtGxND_font-size: 72px;
  --mixin-w3xWtGxND_font-weight: 900;
  --mixin-w3xWtGxND_letter-spacing: -4px;
  --mixin-w3xWtGxND_line-height: 1;
  --mixin-0JLtojC6Rc_font-family: "Inter";
  --mixin-0JLtojC6Rc_color: #000000;
  --mixin-0JLtojC6Rc_font-size: 48px;
  --mixin-0JLtojC6Rc_font-weight: 700;
  --mixin-0JLtojC6Rc_letter-spacing: -1px;
  --mixin-0JLtojC6Rc_line-height: 1.1;
  --mixin-_MqMkrdJJ-_font-family: "Inter";
  --mixin-_MqMkrdJJ-_color: #000000;
  --mixin-_MqMkrdJJ-_font-size: 32px;
  --mixin-_MqMkrdJJ-_font-weight: 600;
  --mixin-_MqMkrdJJ-_letter-spacing: -0.8px;
  --mixin-_MqMkrdJJ-_line-height: 1.2;
  --mixin-uahGbUn4ks_font-family: "Inter";
  --mixin-uahGbUn4ks_color: #000000;
  --mixin-uahGbUn4ks_font-size: 24px;
  --mixin-uahGbUn4ks_font-weight: 600;
  --mixin-uahGbUn4ks_letter-spacing: -0.5px;
  --mixin-uahGbUn4ks_line-height: 1.3;
  --mixin-qxb8kS4kLr_font-family: "Inter";
  --mixin-qxb8kS4kLr_color: #000000;
  --mixin-qxb8kS4kLr_font-size: 20px;
  --mixin-qxb8kS4kLr_font-weight: 600;
  --mixin-qxb8kS4kLr_letter-spacing: -0.3px;
  --mixin-qxb8kS4kLr_line-height: 1.5;
  --mixin-5F-FbMyvWQ_font-family: "Inter";
  --mixin-5F-FbMyvWQ_color: #000000;
  --mixin-5F-FbMyvWQ_font-size: 16px;
  --mixin-5F-FbMyvWQ_font-weight: 600;
  --mixin-5F-FbMyvWQ_line-height: 1.5;
  --mixin-TTkNSRlOZv_border-left-color: #dddddd;
  --mixin-TTkNSRlOZv_border-left-style: solid;
  --mixin-TTkNSRlOZv_border-left-width: 3px;
  --mixin-TTkNSRlOZv_color: #888888;
  --mixin-TTkNSRlOZv_padding-left: 10px;
  --mixin-oh5_1Y6hco_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-oh5_1Y6hco_border-bottom-color: #dddddd;
  --mixin-oh5_1Y6hco_border-bottom-style: solid;
  --mixin-oh5_1Y6hco_border-bottom-width: 1px;
  --mixin-oh5_1Y6hco_border-left-color: #dddddd;
  --mixin-oh5_1Y6hco_border-left-style: solid;
  --mixin-oh5_1Y6hco_border-left-width: 1px;
  --mixin-oh5_1Y6hco_border-right-color: #dddddd;
  --mixin-oh5_1Y6hco_border-right-style: solid;
  --mixin-oh5_1Y6hco_border-right-width: 1px;
  --mixin-oh5_1Y6hco_border-top-color: #dddddd;
  --mixin-oh5_1Y6hco_border-top-style: solid;
  --mixin-oh5_1Y6hco_border-top-width: 1px;
  --mixin-oh5_1Y6hco_border-bottom-left-radius: 3px;
  --mixin-oh5_1Y6hco_border-bottom-right-radius: 3px;
  --mixin-oh5_1Y6hco_border-top-left-radius: 3px;
  --mixin-oh5_1Y6hco_border-top-right-radius: 3px;
  --mixin-oh5_1Y6hco_font-family: "Inconsolata";
  --mixin-oh5_1Y6hco_padding-bottom: 1px;
  --mixin-oh5_1Y6hco_padding-left: 4px;
  --mixin-oh5_1Y6hco_padding-right: 4px;
  --mixin-oh5_1Y6hco_padding-top: 1px;
  --mixin-zUKPwdTi2v_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zUKPwdTi2v_border-bottom-color: #dddddd;
  --mixin-zUKPwdTi2v_border-bottom-style: solid;
  --mixin-zUKPwdTi2v_border-bottom-width: 1px;
  --mixin-zUKPwdTi2v_border-left-color: #dddddd;
  --mixin-zUKPwdTi2v_border-left-style: solid;
  --mixin-zUKPwdTi2v_border-left-width: 1px;
  --mixin-zUKPwdTi2v_border-right-color: #dddddd;
  --mixin-zUKPwdTi2v_border-right-style: solid;
  --mixin-zUKPwdTi2v_border-right-width: 1px;
  --mixin-zUKPwdTi2v_border-top-color: #dddddd;
  --mixin-zUKPwdTi2v_border-top-style: solid;
  --mixin-zUKPwdTi2v_border-top-width: 1px;
  --mixin-zUKPwdTi2v_border-bottom-left-radius: 3px;
  --mixin-zUKPwdTi2v_border-bottom-right-radius: 3px;
  --mixin-zUKPwdTi2v_border-top-left-radius: 3px;
  --mixin-zUKPwdTi2v_border-top-right-radius: 3px;
  --mixin-zUKPwdTi2v_font-family: "Inconsolata";
  --mixin-zUKPwdTi2v_padding-bottom: 3px;
  --mixin-zUKPwdTi2v_padding-left: 6px;
  --mixin-zUKPwdTi2v_padding-right: 6px;
  --mixin-zUKPwdTi2v_padding-top: 3px;
  --mixin-QueUkQ1uB__display: flex;
  --mixin-QueUkQ1uB__flex-direction: column;
  --mixin-QueUkQ1uB__align-items: stretch;
  --mixin-QueUkQ1uB__justify-content: flex-start;
  --mixin-QueUkQ1uB__list-style-position: outside;
  --mixin-QueUkQ1uB__padding-left: 40px;
  --mixin-QueUkQ1uB__position: relative;
  --mixin-QueUkQ1uB__list-style-type: decimal;
  --mixin-i3v-7syG6R_display: flex;
  --mixin-i3v-7syG6R_flex-direction: column;
  --mixin-i3v-7syG6R_align-items: stretch;
  --mixin-i3v-7syG6R_justify-content: flex-start;
  --mixin-i3v-7syG6R_list-style-position: outside;
  --mixin-i3v-7syG6R_padding-left: 40px;
  --mixin-i3v-7syG6R_position: relative;
  --mixin-i3v-7syG6R_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-t1Sy0hiqMkH_font-family);
  font-size: var(--mixin-t1Sy0hiqMkH_font-size);
  font-weight: var(--mixin-t1Sy0hiqMkH_font-weight);
  font-style: var(--mixin-t1Sy0hiqMkH_font-style);
  color: var(--mixin-t1Sy0hiqMkH_color);
  text-align: var(--mixin-t1Sy0hiqMkH_text-align);
  text-transform: var(--mixin-t1Sy0hiqMkH_text-transform);
  line-height: var(--mixin-t1Sy0hiqMkH_line-height);
  letter-spacing: var(--mixin-t1Sy0hiqMkH_letter-spacing);
  white-space: var(--mixin-t1Sy0hiqMkH_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-w3xWtGxND_font-family);
  color: var(--mixin-w3xWtGxND_color);
  font-size: var(--mixin-w3xWtGxND_font-size);
  font-weight: var(--mixin-w3xWtGxND_font-weight);
  letter-spacing: var(--mixin-w3xWtGxND_letter-spacing);
  line-height: var(--mixin-w3xWtGxND_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-0JLtojC6Rc_font-family);
  color: var(--mixin-0JLtojC6Rc_color);
  font-size: var(--mixin-0JLtojC6Rc_font-size);
  font-weight: var(--mixin-0JLtojC6Rc_font-weight);
  letter-spacing: var(--mixin-0JLtojC6Rc_letter-spacing);
  line-height: var(--mixin-0JLtojC6Rc_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-_MqMkrdJJ-_font-family);
  color: var(--mixin-_MqMkrdJJ-_color);
  font-size: var(--mixin-_MqMkrdJJ-_font-size);
  font-weight: var(--mixin-_MqMkrdJJ-_font-weight);
  letter-spacing: var(--mixin-_MqMkrdJJ-_letter-spacing);
  line-height: var(--mixin-_MqMkrdJJ-_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-uahGbUn4ks_font-family);
  color: var(--mixin-uahGbUn4ks_color);
  font-size: var(--mixin-uahGbUn4ks_font-size);
  font-weight: var(--mixin-uahGbUn4ks_font-weight);
  letter-spacing: var(--mixin-uahGbUn4ks_letter-spacing);
  line-height: var(--mixin-uahGbUn4ks_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-qxb8kS4kLr_font-family);
  color: var(--mixin-qxb8kS4kLr_color);
  font-size: var(--mixin-qxb8kS4kLr_font-size);
  font-weight: var(--mixin-qxb8kS4kLr_font-weight);
  letter-spacing: var(--mixin-qxb8kS4kLr_letter-spacing);
  line-height: var(--mixin-qxb8kS4kLr_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-5F-FbMyvWQ_font-family);
  color: var(--mixin-5F-FbMyvWQ_color);
  font-size: var(--mixin-5F-FbMyvWQ_font-size);
  font-weight: var(--mixin-5F-FbMyvWQ_font-weight);
  line-height: var(--mixin-5F-FbMyvWQ_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-TTkNSRlOZv_color);
  padding-left: var(--mixin-TTkNSRlOZv_padding-left);
  border-left: var(--mixin-TTkNSRlOZv_border-left-width)
    var(--mixin-TTkNSRlOZv_border-left-style)
    var(--mixin-TTkNSRlOZv_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-oh5_1Y6hco_background);
  font-family: var(--mixin-oh5_1Y6hco_font-family);
  border-radius: var(--mixin-oh5_1Y6hco_border-top-left-radius)
    var(--mixin-oh5_1Y6hco_border-top-right-radius)
    var(--mixin-oh5_1Y6hco_border-bottom-right-radius)
    var(--mixin-oh5_1Y6hco_border-bottom-left-radius);
  padding: var(--mixin-oh5_1Y6hco_padding-top)
    var(--mixin-oh5_1Y6hco_padding-right) var(--mixin-oh5_1Y6hco_padding-bottom)
    var(--mixin-oh5_1Y6hco_padding-left);
  border-top: var(--mixin-oh5_1Y6hco_border-top-width)
    var(--mixin-oh5_1Y6hco_border-top-style)
    var(--mixin-oh5_1Y6hco_border-top-color);
  border-right: var(--mixin-oh5_1Y6hco_border-right-width)
    var(--mixin-oh5_1Y6hco_border-right-style)
    var(--mixin-oh5_1Y6hco_border-right-color);
  border-bottom: var(--mixin-oh5_1Y6hco_border-bottom-width)
    var(--mixin-oh5_1Y6hco_border-bottom-style)
    var(--mixin-oh5_1Y6hco_border-bottom-color);
  border-left: var(--mixin-oh5_1Y6hco_border-left-width)
    var(--mixin-oh5_1Y6hco_border-left-style)
    var(--mixin-oh5_1Y6hco_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-zUKPwdTi2v_background);
  font-family: var(--mixin-zUKPwdTi2v_font-family);
  border-radius: var(--mixin-zUKPwdTi2v_border-top-left-radius)
    var(--mixin-zUKPwdTi2v_border-top-right-radius)
    var(--mixin-zUKPwdTi2v_border-bottom-right-radius)
    var(--mixin-zUKPwdTi2v_border-bottom-left-radius);
  padding: var(--mixin-zUKPwdTi2v_padding-top)
    var(--mixin-zUKPwdTi2v_padding-right) var(--mixin-zUKPwdTi2v_padding-bottom)
    var(--mixin-zUKPwdTi2v_padding-left);
  border-top: var(--mixin-zUKPwdTi2v_border-top-width)
    var(--mixin-zUKPwdTi2v_border-top-style)
    var(--mixin-zUKPwdTi2v_border-top-color);
  border-right: var(--mixin-zUKPwdTi2v_border-right-width)
    var(--mixin-zUKPwdTi2v_border-right-style)
    var(--mixin-zUKPwdTi2v_border-right-color);
  border-bottom: var(--mixin-zUKPwdTi2v_border-bottom-width)
    var(--mixin-zUKPwdTi2v_border-bottom-style)
    var(--mixin-zUKPwdTi2v_border-bottom-color);
  border-left: var(--mixin-zUKPwdTi2v_border-left-width)
    var(--mixin-zUKPwdTi2v_border-left-style)
    var(--mixin-zUKPwdTi2v_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-QueUkQ1uB__display);
  flex-direction: var(--mixin-QueUkQ1uB__flex-direction);
  align-items: var(--mixin-QueUkQ1uB__align-items);
  justify-content: var(--mixin-QueUkQ1uB__justify-content);
  list-style-position: var(--mixin-QueUkQ1uB__list-style-position);
  padding-left: var(--mixin-QueUkQ1uB__padding-left);
  position: var(--mixin-QueUkQ1uB__position);
  list-style-type: var(--mixin-QueUkQ1uB__list-style-type);
  flex-column-gap: var(--mixin-QueUkQ1uB__flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-i3v-7syG6R_display);
  flex-direction: var(--mixin-i3v-7syG6R_flex-direction);
  align-items: var(--mixin-i3v-7syG6R_align-items);
  justify-content: var(--mixin-i3v-7syG6R_justify-content);
  list-style-position: var(--mixin-i3v-7syG6R_list-style-position);
  padding-left: var(--mixin-i3v-7syG6R_padding-left);
  position: var(--mixin-i3v-7syG6R_position);
  list-style-type: var(--mixin-i3v-7syG6R_list-style-type);
  flex-column-gap: var(--mixin-i3v-7syG6R_flex-column-gap);
}
